@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App-wrapper {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(0, 0, 0);
  height: 1850px;
}
.Header-top {
  background-color: rgb(21, 67, 83);
  height: 200px;
  width: 900px;
  margin-top: 20px;
  border-radius: 0 0px 15px 15px;
  padding: 10px;
  margin: 0 auto;
}
h1 {
  margin-top: 10px;
  font-size: 70px;
  color: rgb(177, 243, 232);
  letter-spacing: 10px;
}
h2{
  letter-spacing: 12px;
  color: rgb(166, 216, 65);
  font-size: 25px;
}
ul, li, a {
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(179, 235, 225);
    text-decoration: none;
    margin-top: 100px;
    letter-spacing: 5px;
    
}    
.nav-bar {
    list-style: none;
}
.nav-bar li {
    display: inline-block;
    padding: 0px 40px;
} 
.nav-bar li a {
    transition: all 0.3s ease 0s;
}
.nav-bar li a:hover {
    color: rgb(166, 216, 65);
}
.img-display {
    display: inline;
    padding: 6px;
    margin: 10px;
    margin-top: 100px;
    border-radius: 20px;
    border: 1.5px solid rgb(181, 230, 85);
}
.imgb-display {
  display: inline;
  padding: 6px;
  margin: 10px;
  margin-top: 100px;
  border-radius: 20px;
  border: 1.5px solid rgb(48, 187, 206);
}
.display-songs {
 width: 900px;
 height:400px;
 background-color: rgb(156, 182, 185);
 border-radius: 20px;
 margin: 0 auto;
 margin-top: 100px;
 margin-bottom: 15px;

}
.reg-form {
  background-color: thistle;
}
h3 {
  font-size: 40px;
  color: rgb(1, 2, 2);
  padding-top: 30px;
  letter-spacing: 10px;
}
h4 {
  font-size: 20px;
  color: rgb(1, 2, 2);
  padding: 8px 30px 30px 30px;
  line-height: 28px;
}

